name: Build Cronet

on:
  workflow_dispatch:
    inputs:
      chromium_version:
        description: 'Chromium 版本号 (例如: 142.0.7444.135)'
        required: true
        default: '142.0.7444.135'

jobs:
  build-cronet:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5

    - name: 设置环境变量
      run: |
        echo "CHROMIUM_VERSION=${{ github.event.inputs.chromium_version }}" >> $GITHUB_ENV
        echo "SHOULD_BUILD=${{ github.event.inputs.should_build }}" >> $GITHUB_ENV

    - name: 安装必要工具
      run: |
        sudo apt-get update
        sudo apt-get install -y pixz

    - name: 下载 Chromium 源码
      run: |
        # 使用 aria2c 多线程下载
        echo "开始下载 Chromium 源码..."
        aria2c -x 16 -s 16 https://commondatastorage.googleapis.com/chromium-browser-official/chromium-${{ env.CHROMIUM_VERSION }}.tar.xz -o chromium-${{ env.CHROMIUM_VERSION }}.tar.xz
        
        # 创建目标目录
        mkdir -p ${{ env.CHROMIUM_VERSION }}
        
        # 加速 tar 解压 - 使用多线程 pixz 解压
        echo "开始解压 Chromium 源码..."
        # 使用 pixz 多线程解压
        # time pixz -d -c chromium-${{ env.CHROMIUM_VERSION }}.tar.xz | tar x -C ${{ env.CHROMIUM_VERSION }}
        tar xzf "chromium-${{ env.CHROMIUM_VERSION }}.tar.xz" -C "${{ env.CHROMIUM_VERSION }}"
        
        rm chromium-${{ env.CHROMIUM_VERSION }}.tar.xz

        mv ${{ env.CHROMIUM_VERSION }} src
        
        echo "Chromium 代码已成功下载并解压"

        
