name: Build Cronet

on:
  workflow_dispatch:
    inputs:
      chromium_version:
        description: 'Chromium 版本号 (例如: 142.0.7444.135)'
        required: true
        default: '142.0.7444.135'

jobs:
  build-cronet:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5

    - name: 设置环境变量
      run: |
        echo "CHROMIUM_VERSION=${{ github.event.inputs.chromium_version }}" >> $GITHUB_ENV
        echo "SHOULD_BUILD=${{ github.event.inputs.should_build }}" >> $GITHUB_ENV

    - name: 克隆 Chromium 源码
      run: |
        git clone --depth 2 -b ${{ env.CHROMIUM_VERSION }} https://chromium.googlesource.com/chromium/src.git -j 16
        echo "Chromium 代码已成功克隆"
        


        
