name: Build Cronet

on:
  workflow_dispatch:
    inputs:
      chromium_version:
        description: 'Chromium 版本号 (例如: 142.0.7444.135)'
        required: true
        default: '142.0.7444.135'

jobs:
  build-cronet:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5

    - name: 设置环境变量
      run: |
        echo "CHROMIUM_VERSION=${{ github.event.inputs.chromium_version }}" >> $GITHUB_ENV
        echo "SHOULD_BUILD=${{ github.event.inputs.should_build }}" >> $GITHUB_ENV

    - name: 下载 Chromium 源码
      run: |
        # 使用 aria2c 多线程下载
        echo "开始下载 Chromium 源码..."
        aria2c -x 16 -s 16 https://chromium.googlesource.com/chromium/src/+archive/refs/tags/${{ env.CHROMIUM_VERSION }}.tar.gz -o chromium-${{ env.CHROMIUM_VERSION }}.tar.gz
        
        # 创建目标目录
        mkdir -p ${{ env.CHROMIUM_VERSION }}
        
        # 加速 tar 解压 - 使用多线程 pigz 解压
        echo "开始解压 Chromium 源码..."
        # 方法1: 使用 pigz 多线程解压 (推荐)
        time tar --use-compress-program="pigz -p 0" -xzf chromium-${{ env.CHROMIUM_VERSION }}.tar.gz -C ${{ env.CHROMIUM_VERSION }}
        
        # 如果上面的方法不工作，可以使用以下替代方案:
        # 方法2: 使用标准 tar 但添加缓冲区优化
        # time tar -xzf chromium-${{ env.CHROMIUM_VERSION }}.tar.gz --blocking-factor=128 -C ${{ env.CHROMIUM_VERSION }}
        
        mv ${{ env.CHROMIUM_VERSION }} src
        
        echo "Chromium 代码已成功下载并解压"

        
