name: Build Cronet

on:
  workflow_dispatch:
    inputs:
      chromium_version:
        description: 'Chromium 版本号 (例如: 142.0.7444.135)'
        required: true
        default: '142.0.7444.135'

jobs:
  build-cronet:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5

    - name: 设置环境变量
      run: |
        echo "CHROMIUM_VERSION=${{ github.event.inputs.chromium_version }}" >> $GITHUB_ENV
        echo "SHOULD_BUILD=${{ github.event.inputs.should_build }}" >> $GITHUB_ENV

    - name: 下载 Chromium 源码
      run: |
        # 使用 aria2c 多线程下载
        echo "开始下载 Chromium 源码..."
        aria2c -x 16 -s 16 https://chromium.googlesource.com/chromium/src/+archive/refs/tags/${{ env.CHROMIUM_VERSION }} -o chromium-${{ env.CHROMIUM_VERSION }}.tar.xz
        
        # 加速 tar 解压 - 使用多线程 xz 解压
        echo "开始解压 Chromium 源码..."
        # 方法1: 使用多线程 xz 解压 (推荐)
        time tar -I 'xz -T 0 -v' -xf chromium-${{ env.CHROMIUM_VERSION }}.tar.xz
        
        # 如果上面的方法不工作，可以使用以下替代方案:
        # 方法2: 先解压到临时目录再移动
        # mkdir -p temp_extract && cd temp_extract
        # time tar -I 'xz -T 0' -xf ../chromium-${{ env.CHROMIUM_VERSION }}.tar.xz
        # mv * ../ && cd .. && rmdir temp_extract
        
        mv chromium-${{ env.CHROMIUM_VERSION }} src
        
        echo "Chromium 代码已成功下载并解压"

        
